
<div class="home" ng-init="init()">
    <div app-head></div>
    <div class="ctr">
        <div class="ctr-left">
            <div app-menu></div>
        </div>
        <div class="ctr-right">
            <input
                placeholder="Select a date..."
                moment-picker="ctrl.stringDate"
                format="YYYY-MM-DD"
                today="true"
                min-date='ctrl.MinDate'
                start-view="month"
                change="ctrl.onChange(newValue, oldValue)"
                ng-model="ctrl.momentDate">

            <span moment-picker="ctrl.component">
    {{ ctrl.component || 'Click here to select a date' }}
</span>
            <div moment-picker="myDate"> {{ myDate }} </div>
            <div app-nav></div>
            <h3>控制器</h3>
            <button ng-click="home()">点击</button>
            <button ng-click="go()">去商店</button>
            <a ng-href="#/shop">a go shop</a>
            <input id="dd" type="text">
        <ul class="pagination" id="id"></ul>
        <ul id="p2"></ul>
            <div class="upload">
                <h3>单文件上传</h3>
                <div class="single-file">
                    <form class="cd-form" id="subForm"
                          action="openaccount" method="post">
                        <div id="cd-signup">
                            <p class="fieldset">
                                <label class="image-replace cd-photo1" for="signup-idimage1"></label>
                                <input class="full-width has-padding has-border"
                                       id="signup-idimage1" type="file" name="upload">
                                <input type="hidden" name="frontSide" id="frontSide">
                            <div id="tip-queue1"></div>
                            </p>
                            </p>
                            <p class="fieldset">
                                <input class="full-width2" id="submit" type="submit" value="提交">
                            </p>
                        </div>
                    </form>
                </div>
                <h3>多文件上传</h3>
                <div class="multiple-file">
                    fg
                </div>
                <h3>单图片上传</h3>
                <div class="single-image">
                    g
                </div>
                <h3>多图片上传</h3>
                <div class="multiple-image">
                    jh
                </div>
            </div>
        </div>

    </div>
    <div app-foot></div>
</div>

